<!DOCTYPE html>
<html lang="en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device=width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page_container">
            <ul class="topnav">
                <li><a href="#">Royal Hotels</a> </li>
                <li><a href="#">See Our Menu</a> </li>
                <li><a href="#">Admin Panel</a> </li>
            </ul>
            <header class="header-title">
                <h1>{% block header %}{% endblock %}</h1>

            </header>
            {% block content %}{% endblock %}
        </div>

        <section id="block-footer">
            <p id="footer-right"><a href="#">Terms</a>|<a href="#">Privacy</a> </p>
            <p id="footer-left">&copy;2018 - The Fictional, Royal Hotels</p>
        </section>

    </body>
</html>